* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigationBar {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#navigation {
    background-color: rgb(254, 247, 238);
    padding: 1%;
}

.button {
    color: rgb(28, 26, 26);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.button:hover {
    cursor: pointer;
    font-weight: bold;
}

.textContainer {
    padding: 2%; /* Add some padding for better readability */
    text-align: center; /* Center align text */
}

.imageContainer {
    display: grid; /* Use grid display */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive column layout */
    gap: 10px; /* Spacing between images */
    padding: 10px; /* Padding around the grid */
}

.image {
    width: 100%; /* Allow images to take full width of their grid cell */
    height: auto; /* Maintain aspect ratio */
}

#copywriteText {
    color: beige;
    text-align: center; /* Center text in footer */
}

footer {
    padding: 2%;
    background-color: rgb(27, 23, 23);
}

@media (max-width: 768px) {
    #navigationBar {
        flex-direction: column;
        align-items: center;
    }

    .textContainer {
        padding: 5%; /* Increase padding for smaller screens */
    }
}